# Ignore OS files
Thumbs.db
.DS_Store

# Ignore logs
*.log

# Ignore compressed files
*.zip
*.tar.gz
*.rar

# Ignore source maps
*.map

# Ignore user-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Ignore build artifacts
obj/
bin/

# Ignore Visual Studio Code settings
.vscode/

# Ignore publish profiles
Properties/PublishProfiles/

# Ignore any .git folder in subdirectories
**/.git/
